$primary: #004876;
$secondary: #6c7277;
$success: #10713d;
$warning: #8c5c03;
$danger: #9E2821;
$light: #f8f9fa;

h1 {
    color: $primary
}
.microscope {
    font-size: 3rem
}
.i {
    text-align: center;
}

ul img {
    width: 8rem;
}
p {
    color: $secondary
}
nav.navbar {
    background-color: 'white';
}

@import '~bootstrap/scss/bootstrap'

